.transaction-print{
  .logo{
    font-size:30px;

  }
  .logo-img{
    img{
      width:80px;
      height:auto;
      margin:15px auto;
      display:block;
    }
  }

  .logo-description{
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    font-size: 10px;

    .description-style{
      display:inline-block;
      background:#cdcdcd;
      color:#FF4500;
    }
  }
  table {
    border-collapse: collapse;
  }

  p{
    margin-bottom:0;
  }

  .print-signature-section{
    margin-top:30px;
  }

  .logo{
    font-size:50px;
    font-weight:bold;
  }
}

.transaction-print-table{
  th, td {
    border-bottom: 1px solid #ddd;
    padding:15px;
  }
}

.transaction-print{
  //.print-btn{
  //  display:none;
  //}
}

.transaction-component{
  table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child){
    padding:0 5px;
  }

}

